* {
  margin: 0;
  box-sizing: border-box;
}

.main_container {
  width: 100%;
  height: 100vh;
}
.main_container .main_header {
  width: 100%;
  height: 100px;
  display: flex;
}
.main_container .main_header .left_blank {
  flex: 20%;
}
.main_container .main_header .middle {
  flex: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_container .main_header .middle img {
  max-height: 70px;
}
.main_container .main_header .middle i {
  font-size: 30px;
  cursor: pointer;
}
.main_container .main_header .middle i:hover {
  color: orange;
}
.main_container .main_header .right_blank {
  flex: 20%;
}
.main_container .main_first_section {
  width: 100%;
  height: calc(100% - 100px);
  background-image: url("photos/first_section_background.png");
  position: relative;
}
.main_container .main_first_section .left_top_img {
  max-height: 270px;
  position: absolute;
  top: 120px;
  left: 100px;
}
.main_container .main_first_section .left_bot_img {
  max-height: 150px;
  position: absolute;
  left: 100px;
  bottom: 70px;
}
.main_container .main_first_section .right_bot_img {
  max-height: 130px;
  position: absolute;
  right: 100px;
  bottom: 70px;
}
.main_container .main_first_section .right_top_img {
  max-height: 170px;
  position: absolute;
  right: 380px;
  top: 100px;
}
.main_container .main_first_section .heading {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12%;
  font-size: 110px;
  color: white;
  width: 700px;
  font-family: Roboto;
  text-shadow: 0 0 15px #d256e5;
}
.main_container .main_first_section .nav {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 600px;
  height: 80px;
  border-radius: 999px;
  background-image: linear-gradient(rgb(189, 115, 247), rgb(126, 47, 185));
  display: table;
}
.main_container .main_first_section .nav .nav_line {
  color: white;
  font-size: 21px;
  font-family: Raleway;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.main_container .main_first_section .nav .nav_line span {
  cursor: pointer;
}
.main_container .main_first_section .nav .nav_line span:hover {
  color: rgb(220, 217, 217);
}
.main_container .main_first_section .under_nav {
  text-align: center;
  color: white;
  font-size: 22px;
  font-family: Roboto;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_container .main_first_section .under_nav u {
  cursor: pointer;
}
.main_container .main_first_section .under_nav u:hover {
  color: rgb(220, 217, 217);
}
.main_container .main_second_section {
  width: 100%;
  height: auto;
}
.main_container .main_second_section .second_section_title {
  padding-top: 50px;
  padding-bottom: 80px;
  font-size: 50px;
  font-family: Roboto;
  color: #6f24a9;
  width: 35%;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  scale: 2;
  opacity: 0;
}
.main_container .main_second_section .second_section_sub {
  width: 100%;
  height: 400px;
  display: flex;
}
.main_container .main_second_section .second_section_sub .left {
  flex: 50%;
  display: flex;
  flex-direction: column;
}
.main_container .main_second_section .second_section_sub .left .up_cell {
  flex: 50%;
  display: flex;
}
.main_container .main_second_section .second_section_sub .left .up_cell .lefty {
  flex: 50%;
  position: relative;
}
.main_container .main_second_section .second_section_sub .left .up_cell .lefty img {
  max-height: 150px;
  position: absolute;
  left: 10px;
}
.main_container .main_second_section .second_section_sub .left .up_cell .righty {
  flex: 50%;
}
.main_container .main_second_section .second_section_sub .left .up_cell .righty h2 {
  color: #6f24a9;
  font-family: Roboto;
  letter-spacing: 2px;
}
.main_container .main_second_section .second_section_sub .left .up_cell .righty p {
  margin-top: 30px;
  font-size: 20px;
  font-family: Raleway;
}
.main_container .main_second_section .second_section_sub .left .down_cell {
  flex: 50%;
  display: flex;
}
.main_container .main_second_section .second_section_sub .left .down_cell .lefty {
  flex: 50%;
  position: relative;
}
.main_container .main_second_section .second_section_sub .left .down_cell .lefty img {
  max-height: 150px;
  position: absolute;
  left: 10px;
}
.main_container .main_second_section .second_section_sub .left .down_cell .righty {
  flex: 50%;
}
.main_container .main_second_section .second_section_sub .left .down_cell .righty h2 {
  color: #6f24a9;
  font-family: Roboto;
  letter-spacing: 2px;
}
.main_container .main_second_section .second_section_sub .left .down_cell .righty p {
  margin-top: 30px;
  font-size: 20px;
  font-family: Raleway;
}
.main_container .main_second_section .second_section_sub .right {
  flex: 50%;
  display: flex;
  flex-direction: column;
}
.main_container .main_second_section .second_section_sub .right .up_cell {
  flex: 50%;
  display: flex;
}
.main_container .main_second_section .second_section_sub .right .up_cell .lefty {
  flex: 50%;
  position: relative;
}
.main_container .main_second_section .second_section_sub .right .up_cell .lefty img {
  max-height: 150px;
  position: absolute;
  left: -200px;
  opacity: 0;
}
.main_container .main_second_section .second_section_sub .right .up_cell .righty {
  flex: 50%;
}
.main_container .main_second_section .second_section_sub .right .up_cell .righty h2 {
  color: #6f24a9;
  font-family: Roboto;
  letter-spacing: 2px;
}
.main_container .main_second_section .second_section_sub .right .up_cell .righty p {
  margin-top: 30px;
  font-size: 20px;
  font-family: Raleway;
  width: 450px;
}
.main_container .main_second_section .second_section_sub .right .down_cell {
  flex: 50%;
  display: flex;
}
.main_container .main_second_section .second_section_sub .right .down_cell .lefty {
  flex: 50%;
  position: relative;
}
.main_container .main_second_section .second_section_sub .right .down_cell .lefty img {
  max-height: 150px;
  position: absolute;
  left: -200px;
  opacity: 0;
}
.main_container .main_second_section .second_section_sub .right .down_cell .righty {
  flex: 50%;
}
.main_container .main_second_section .second_section_sub .right .down_cell .righty h2 {
  color: #6f24a9;
  font-family: Roboto;
  letter-spacing: 2px;
}
.main_container .main_second_section .second_section_sub .right .down_cell .righty p {
  margin-top: 30px;
  font-size: 20px;
  font-family: Raleway;
  width: 450px;
}
.main_container .main_second_section .foot_second {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 30px;
}
.main_container .main_second_section .foot_second span {
  cursor: pointer;
  border-bottom: 1px solid orange;
  padding-bottom: 3px;
}
.main_container .main_second_section .foot_second span:hover {
  border-bottom: 1px solid black;
}
.main_container .main_third_section {
  width: 100%;
  height: 1150px;
  display: flex;
}
.main_container .main_third_section .blank_left {
  flex: 20%;
}
.main_container .main_third_section .mid {
  flex: 60%;
  position: relative;
}
.main_container .main_third_section .mid .girl_to_slide {
  max-height: 700px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
  transform: translateX(-50%);
  opacity: 0;
}
.main_container .main_third_section .mid .underlay_girl {
  max-height: 700px;
  position: absolute;
  opacity: 0;
  scale: 0;
}
.main_container .main_third_section .mid .large_circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  right: -250px;
  top: 30px;
  opacity: 0;
  background-image: linear-gradient(to right, #ec91ec, #f5cd98);
}
.main_container .main_third_section .mid .small_circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  right: -250px;
  top: 450px;
  opacity: 0;
  background-image: linear-gradient(to right, #ec91ec, #f5cd98);
}
.main_container .main_third_section .mid .card_container {
  width: 100%;
  height: auto;
  position: absolute;
  top: 620px;
  z-index: 2;
  display: flex;
  font-family: Raleway;
}
.main_container .main_third_section .mid .card_container .card {
  flex: 25%;
  border-radius: 25px;
  margin: 10px;
  opacity: 0;
}
.main_container .main_third_section .mid .card_container .card h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  color: #6f24a9;
}
.main_container .main_third_section .mid .card_container .card p {
  padding: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}
.main_container .main_third_section .mid .card_container .card .colored {
  color: #6f24a9;
}
.main_container .main_third_section .mid .card_container .card_colored {
  background-image: linear-gradient(#f5cd98, #ec91ec);
}
.main_container .main_third_section .mid .card_container .card_noColored {
  background-color: rgb(233, 229, 229);
}
.main_container .main_third_section .blank_right {
  flex: 20%;
}
.main_container .foot_third {
  text-align: center;
  padding-bottom: 30px;
}
.main_container .foot_third span {
  cursor: pointer;
  border-bottom: 1px solid orange;
  padding-bottom: 3px;
}
.main_container .foot_third span:hover {
  border-bottom: 1px solid black;
}
.main_container .main_forth_section {
  width: 100%;
  height: 1100px;
  background-image: url("photos/forth_section_background.png");
  position: relative;
}
.main_container .main_forth_section .multicolor_circle {
  max-height: 130px;
  position: absolute;
  top: 40px;
  left: 150px;
  opacity: 0;
}
.main_container .main_forth_section .square {
  max-height: 200px;
  position: absolute;
  left: 42%;
  top: 180px;
  opacity: 0;
  scale: 1.5;
}
.main_container .main_forth_section .like_dna {
  max-height: 80px;
  position: absolute;
  top: 320px;
  right: 7%;
  scale: 2;
  opacity: 0;
}
.main_container .main_forth_section .digital_design {
  width: 545px;
  height: 525px;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 300px;
  left: 100px;
  opacity: 0;
}
.main_container .main_forth_section .digital_design h1 {
  margin-top: 100px;
  margin-left: 25px;
  font-size: 55px;
  font-family: Roboto;
  letter-spacing: 2px;
  color: #6f24a9;
}
.main_container .main_forth_section .digital_design .txt {
  margin-left: 25px;
  margin-right: 20px;
  margin-top: 30px;
  font-size: 20px;
  font-family: Raleway;
  line-height: 1.6;
}
.main_container .main_forth_section .digital_design .under_txt {
  margin-left: 25px;
  margin-top: 25px;
  font-size: 17px;
  font-family: Raleway;
}
.main_container .main_forth_section .digital_design .under_txt span {
  cursor: pointer;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}
.main_container .main_forth_section .digital_design .under_txt span:hover {
  border-bottom: 1px solid #d256e5;
}
.main_container .main_forth_section .digital_design .btn {
  margin-top: 30px;
  margin-left: 25px;
  width: 200px;
  height: 60px;
  border-radius: 20px;
  background-color: #6f24a9;
  display: table;
  cursor: pointer;
}
.main_container .main_forth_section .digital_design .btn:hover {
  background-color: #d256e5;
}
.main_container .main_forth_section .digital_design .btn span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-family: Roboto;
  letter-spacing: 2px;
}
.main_container .main_forth_section .angle_pipe {
  max-height: 170px;
  position: absolute;
  left: 58%;
  top: 570px;
  transform: rotate(0.6turn);
}
.main_container .main_forth_section .donut {
  max-height: 240px;
  position: absolute;
  bottom: 100px;
  left: 580px;
}
.main_container .main_fifth_section {
  width: 100%;
  height: 1000px;
  position: relative;
  background-color: rgb(244, 240, 240);
}
.main_container .main_fifth_section .colored_part {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(#d3b1f4, #fbc6d9);
}
.main_container .main_fifth_section .multicolor_large_circle {
  position: absolute;
  top: 195px;
  left: 100px;
  opacity: 0;
}
.main_container .main_fifth_section .diagonal {
  max-height: 220px;
  transform: rotate(0.1turn);
  position: absolute;
  top: -100px;
  left: 70%;
  opacity: 0;
  z-index: 2;
}
.main_container .main_fifth_section .text_box {
  width: 540px;
  height: 590px;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 200px;
  right: 0;
  opacity: 0;
}
.main_container .main_fifth_section .text_box h1 {
  margin-top: 210px;
  margin-left: 20px;
  font-family: Roboto;
  letter-spacing: 2px;
  color: #6f24a9;
  font-size: 50px;
}
.main_container .main_fifth_section .text_box p {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 25px;
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.6;
}
.main_container .main_fifth_section .text_box .under_p span {
  cursor: pointer;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}
.main_container .main_fifth_section .text_box .under_p span:hover {
  border-bottom: 1px solid #d256e5;
}
.main_container .main_fifth_section .text_box .btn {
  margin-top: 30px;
  margin-left: 25px;
  width: 200px;
  height: 60px;
  border-radius: 20px;
  background-color: #6f24a9;
  display: table;
  cursor: pointer;
}
.main_container .main_fifth_section .text_box .btn:hover {
  background-color: #d256e5;
}
.main_container .main_fifth_section .text_box .btn span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-family: Roboto;
  letter-spacing: 2px;
}
.main_container .main_fifth_section .fifth_section_square {
  max-height: 180px;
  position: absolute;
  bottom: 100px;
  opacity: 0;
  scale: 1.5;
  transform: rotate(0.8turn);
  left: 50px;
}
.main_container .main_fifth_section .fifth_section_likeDna {
  max-height: 120px;
  position: absolute;
  bottom: -100px;
  opacity: 0;
  right: 500px;
}
.main_container .main_sixth_section {
  width: 100%;
  height: 800px;
  background-image: url("photos/sixth_section_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main_container .main_sixth_section .left_text_box {
  width: 550px;
  height: 334px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 20%;
  transform: rotate(45deg);
  opacity: 0;
}
.main_container .main_sixth_section .left_text_box h1 {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 50px;
  font-family: Raleway;
  color: #6f24a9;
  scale: 0;
  opacity: 0;
}
.main_container .main_sixth_section .right_text_box {
  width: 550px;
  height: 334px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 5%;
  scale: 0.5;
  opacity: 0;
}
.main_container .main_sixth_section .right_text_box p {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: Raleway;
  line-height: 1.6;
  font-size: 16px;
}
.main_container .main_sixth_section .right_text_box .under_pp span {
  cursor: pointer;
  border-bottom: 1px solid orange;
  padding-bottom: 3px;
}
.main_container .main_sixth_section .right_text_box .under_pp span:hover {
  border-bottom: 1px solid black;
}
.main_container .main_sixth_section .right_text_box .icon_holder {
  margin-left: 40px;
  margin-top: 20px;
  font-size: 25px;
  color: #6f24a9;
}
.main_container .main_sixth_section .right_text_box .icon_holder i {
  padding-right: 35px;
  cursor: pointer;
}
.main_container .main_seventh_section {
  width: 100%;
  height: 1200px;
  position: relative;
}
.main_container .main_seventh_section .pink_colored {
  max-height: 800px;
  transform: rotate(1.65turn);
  position: absolute;
  top: 150px;
  left: 500px;
  scale: 0.3;
  opacity: 0;
}
.main_container .main_seventh_section .large_angle_pipe {
  max-height: 330px;
  transform: rotate(0.1turn);
  position: absolute;
  top: 100px;
  left: 50px;
  opacity: 0;
}
.main_container .main_seventh_section .small_angle_pipe {
  max-height: 200px;
  transform: rotate(260deg);
  opacity: 0;
  position: absolute;
  left: 65%;
  top: 600px;
}
.main_container .main_seventh_section .scaling_circle {
  max-height: 350px;
  position: absolute;
  top: 730px;
  left: 47%;
  scale: 0;
  opacity: 0;
}
.main_container .main_seventh_section .pack {
  max-height: 220px;
  position: absolute;
  top: 400px;
  left: 65%;
  opacity: 0;
}
.main_container .main_seventh_section .form_holder {
  width: 607px;
  height: 500px;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  left: 400px;
  top: 350px;
}
.main_container .main_seventh_section .form_holder form {
  padding: 30px;
}
.main_container .main_seventh_section .form_holder form label {
  font-size: 18px;
  font-family: Raleway;
}
.main_container .main_seventh_section .form_holder form label span {
  color: #6f24a9;
  cursor: pointer;
}
.main_container .main_seventh_section .form_holder form .input1, .main_container .main_seventh_section .form_holder form textarea {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #ec88ec;
  background-color: rgb(244, 241, 241);
  font-family: Raleway;
  font-size: 18px;
}
.main_container .main_seventh_section .form_holder form #name, .main_container .main_seventh_section .form_holder form #email, .main_container .main_seventh_section .form_holder form #message {
  margin-bottom: 20px;
}
.main_container .main_seventh_section .form_holder form textarea {
  height: 100px;
}
.main_container .main_seventh_section .form_holder form #checkbox {
  width: 15px;
  height: 15px;
}
.main_container .main_seventh_section .form_holder form #submit {
  width: 100%;
  height: 50px;
  margin-top: 25px;
  border-radius: 15px;
  border: none;
  background-color: #6f24a9;
  color: white;
  font-size: 18px;
  font-family: Roboto;
  letter-spacing: 3px;
  cursor: pointer;
}
.main_container .main_seventh_section .form_holder form #submit:hover {
  opacity: 0.7;
}
.main_container .main_seventh_section .static {
  position: absolute;
  bottom: 300px;
  left: 320px;
  font-size: 18px;
  font-family: Raleway;
}
.main_container .main_seventh_section .static span {
  cursor: pointer;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}
.main_container .main_seventh_section .static span:hover {
  border-bottom: 1px solid #d256e5;
}
.main_container .main_seventh_section .final {
  max-height: 130px;
  position: absolute;
  bottom: 100px;
  left: 0px;
  opacity: 0;
  scale: 1;
}
.main_container .main_footer_section {
  width: 100%;
  height: 230px;
  background-color: rgb(47, 46, 46);
  display: flex;
  flex-direction: column;
}
.main_container .main_footer_section .footer_up {
  flex: 100%;
  color: white;
  font-family: Raleway;
  font-size: 16px;
  display: table;
}
.main_container .main_footer_section .footer_up span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.main_container .main_footer_section .footer_down {
  flex: 100%;
  color: white;
  font-family: Raleway;
  font-size: 16px;
  display: table;
}
.main_container .main_footer_section .footer_down p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.main_container .main_footer_section .footer_down p span {
  color: #d256e5;
  cursor: pointer;
  text-decoration: underline;
}
.main_container .main_footer_section .footer_down p span:hover {
  color: grey;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */